<a class="btn btn-outline-primary mb-4" href="/ventas"><i class="fas fa-plus-circle"></i> Realizar Venta</a>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="text-uppercase text-center" scope="col">id_producto</th>
      <th class="text-uppercase text-center" scope="col">cantidad</th>
      <th class="text-uppercase text-center" scope="col">total</th>
    </tr>
  </thead>
  <tbody>
     {{#each result}}
    <tr>
      <td class="align-middle text-center">{{id_producto}}</td>
      <td class="align-middle text-center">{{cantidad}}</td>
      <td class="align-middle text-center">{{total}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

